html {
    font-size: 1.6rem;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;    
}

body {
    font-family: 'Lato';
    line-height: 1.3;
    margin: 0;
    padding: 0;

    background: rgba(185, 158, 229, 0.6);;
}


input:focus { 
    outline: none ;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

textarea:focus { 
    outline: none ;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
