.login {

    &__header-container {        
        display: flex;
        justify-content: center;
    }

    &__header-1 {
        font-size: 2.8rem;
        font-weight: 700;
        color: $main-color;
    }
}
