/* Main color */
$main_color: #7D47D5;

/* Main color light and shadows */
$main_color-light: #A27CE1;
$main_color-ultralight: #B99EE5;

$main_color-dark: #5220A5;
$main_color-ultradark: #381275;

/*  secondary color */
$secondary_color: #F2EC4E;

$secondary_color-light: #F1EC6F;
$secondary_color-ultralight: #F4F18D;

$secondary_color-dark: #BFB91B;
$secondary_color-ultradark: #7E7A0D;

/* Alert colors */
$color_alert-pass: #14CC00;
$color_alert-warning: #F2BA4E; 
$color_alert-danger: #DE1D30;

/* Grays */
$main_gray: #A6A3AB;

$gray_light: #C1BEC6;
$gray_ultra_light: #DCD8E3;

$gray_dark: #858389;
$gray_ultradark: #747276;

/* white and black */
$white: #ECFFEB;
$black: #021400;
